* {
  margin: 0%;
  padding: 0%;
  font-family: 'Poppins';
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-style: bold;
}

body {
  background-color: #e5e5e5;
}

/* Awal Header */
.navbar {
  display: flex;
  justify-content: center;
  text-align: center;
  float: center;
}
del {
  text-decoration: line-through;
  color: #bdbdbd;
}
a {
  color: #ffffff;
}

li a {
  color: #ffffff;
}
header {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: #219653;
  cursor: pointer;
  color: #ffffff;
}
h1 {
  display: inline;
  float: left;
  margin: 18px auto;
  margin-left: 140px;
}

.menu {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 70px;
  top: 27px;
  text-transform: uppercase;
}

.menu li {
  display: inline;
  width: 100px;
  color: #ffffff;
  list-style: none;
  text-align: center;
  float: center;
}
.reihan {
  text-align: right;
  margin-top: 20px;
  margin-right: 200px;
}
.navbarRight p {
  position: absolute;
  width: 100%;
  height: 32px;
  margin-left: -140px;
  text-align: right;
  color: #ffffff;
}
.profillogin {
  position: absolute;
  margin-left: -350px;
  margin-bottom: 10px;
}
.login {
  position: absolute;
  width: 100%;
  height: 70px;
  text-align: right;
}
.login a {
  color: #ffffff;
}
/* Akhir Header */

/* Awal Image */
.img {
  background: url('image/awal1.png');
  position: absolute;
  width: 1257.5px;
  height: 500px;
  left: 140px;
  top: 100px;
}
.text {
  text-align: center;
  margin-top: 400px;
  line-height: 21px;
  color: #ffffff;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
/* Akhir Image */

/* Awal Title 1 */
.tile {
  position: absolute;
  margin-left: 140px;
  margin-top: 620px;
  border-color: #219653;
}
.titles {
  position: absolute;
  margin-left: 140px;
  margin-top: 620px;
  color: black;
  font-style: normal;
}
.allevent p a {
  position: absolute;
  margin-top: 640px;
  margin-left: 1332px;
  text-align: center;
  float: right;
  color: #219653;
}
/* Akhir Title 1 */

/* Awal Box  */
.box1 {
  position: absolute;
  width: 274px;
  height: 415px;
  margin-left: 140px;
  margin-top: 700px;
  background-color: #ffffff;
  font-style: normal;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}
.box2 {
  position: absolute;
  width: 274px;
  height: 415px;
  margin-left: 470px;
  margin-top: 700px;
  background-color: #ffffff;
  font-style: normal;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}
.box3 {
  position: absolute;
  width: 274px;
  height: 415px;
  margin-left: 790px;
  margin-top: 700px;
  background-color: #ffffff;
  font-style: normal;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}
.box4 {
  position: absolute;
  width: 274px;
  height: 415px;
  margin-left: 1120px;
  margin-top: 700px;
  background-color: #ffffff;
  font-style: normal;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}

.online p {
  position: absolute;
  width: 50px;
  height: 30px;
  text-align: center;
  color: #ffffff;
  border: 5px solid #219653;
  background: #219653;
  border-radius: 7px 0px 10px 0px;
}
.ribbon1 p {
  position: absolute;
  width: 210px;
  height: 30px;
  justify-content: center;
  display: flex;
  float: center;
  top: 15px;
  left: 140px;
  align-items: center;
  background: #2f80ed;
  border-radius: 1px;
  transform: rotate(45deg);
  clip-path: polygon(50% -100%, 100% -20%, 100% calc(100% - 80px), calc(100% - 76.5px) -0.9%, 78% 100%, 11.9% calc(50px)); /* set clip-path */
}

.ribbon2 p {
  position: absolute;
  width: 210px;
  height: 30px;
  justify-content: center;
  display: flex;
  float: center;
  top: 15px;
  left: 140px;
  align-items: center;
  background: #f2994a;
  border-radius: 1px;
  transform: rotate(45deg);
  clip-path: polygon(50% -100%, 100% -20%, 100% calc(100% - 80px), calc(100% - 76.5px) -0.9%, 78% 100%, 11.9% calc(50px)); /* set clip-path */
}
.ribbon3 p {
  position: absolute;
  width: 210px;
  height: 30px;
  justify-content: center;
  display: flex;
  float: center;
  top: 15px;
  left: 140px;
  align-items: center;
  background: #eb5757;
  border-radius: 1px;
  transform: rotate(45deg);
  clip-path: polygon(50% -100%, 100% -20%, 100% calc(100% - 80px), calc(100% - 76.5px) -0.9%, 78% 100%, 11.9% calc(50px)); /* set clip-path */
}

.ribbon4 p {
  position: absolute;
  width: 210px;
  height: 30px;
  justify-content: center;
  display: flex;
  float: center;
  top: 15px;
  left: 140px;
  align-items: center;
  background: #eb5757;
  border-radius: 1px;
  transform: rotate(45deg);
  clip-path: polygon(50% -100%, 100% -20%, 100% calc(100% - 80px), calc(100% - 76.5px) -0.9%, 78% 100%, 11.9% calc(50px)); /* set clip-path */
}

.kerangka1 {
  position: absolute;
  margin-top: 195px;
  margin-left: 15px;
}

.bdbd {
  margin-top: 7px;
  position: inherit;
  color: #bdbdbd;
}

.harga1 {
  margin-top: 310px;
  margin-left: 15px;
}

.img1,
.img2,
.img3,
.img4 {
  position: absolute;
  width: 275px;
  height: 180px;
  background-image: url(image/computer.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.profil .ProImg {
  position: absolute;
  margin-top: 270px;
  margin-left: 15px;
}
.nama p {
  position: absolute;
  margin-top: 270px;
  margin-left: 50px;
}

.tiket1,
.point {
  position: absolute;
  width: 100px;
  margin-top: 5px;
  margin-left: 7px;
}

.arrow {
  position: absolute;
  width: 50px;
  margin-top: 10.5px;
  margin-left: 207.3px;
  text-align: center;
  color: #ffffff;
  border: 5px solid #219653;
  background: #219653;
  border-radius: 7px 0px 10px 0px;
}

/* Akhir Box */

/* Awal Title 1 */
.tile2 {
  position: absolute;
  margin-left: 140px;
  margin-top: 600px;
  border-color: #219653;
}
.titles2 {
  position: absolute;
  margin-left: 140px;
  margin-top: 1150px;
  color: black;
  font-style: normal;
}
.allevent2 p a {
  position: absolute;
  margin-top: 1170px;
  margin-left: 1332px;
  text-align: center;
  float: right;
  color: #219653;
}
/* Akhir Title 1 */

/* Awal Box 2 */
.box5 {
  position: absolute;
  width: 274px;
  height: 415px;
  margin-left: 140px;
  margin-top: 1240px;
  background-color: #ffffff;
  font-style: normal;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}
.box6 {
  position: absolute;
  width: 274px;
  height: 415px;
  margin-left: 470px;
  margin-top: 1240px;
  background-color: #ffffff;
  font-style: normal;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}
.box7 {
  position: absolute;
  width: 274px;
  height: 415px;
  margin-left: 790px;
  margin-top: 1240px;
  background-color: #ffffff;
  font-style: normal;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}
.box8 {
  position: absolute;
  width: 274px;
  height: 415px;
  margin-left: 1120px;
  margin-top: 1240px;
  background-color: #ffffff;
  font-style: normal;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}

.online2 p {
  position: absolute;
  text-align: center;
  color: #ffffff;
  width: 92px;
  height: 30px;
  border: 5px solid #219653;
  background: #219653;
  border-radius: 7px 0px 10px 0px;
}

.ribbon p {
  position: absolute;
  width: 210px;
  height: 30px;
  justify-content: center;
  display: flex;
  float: center;
  top: 15px;
  left: 140px;
  align-items: center;
  background: #2f80ed;
  border-radius: 1px;
  transform: rotate(45deg);
  clip-path: polygon(50% -100%, 100% -20%, 100% calc(100% - 80px), calc(100% - 76.5px) -0.9%, 78% 100%, 11.9% calc(50px)); /* set clip-path */
}

.kerangka {
  position: absolute;
  margin-top: 200px;
  margin-left: 15px;
}

.bdbd {
  position: inherit;
  color: #bdbdbd;
}

.harga {
  margin-top: 280px;
  margin-left: 15px;
}

.img5,
.img6,
.img7,
.img8 {
  position: absolute;
  width: 275px;
  height: 180px;
  background-image: url(image/book.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.bintang {
  position: absolute;
  margin-top: 20px;
  margin-left: 15px;
}
.b5 {
  position: absolute;
  margin-top: 22px;
  margin-left: 125px;
}
.bintang1 {
  position: absolute;
  margin-top: 58px;
  margin-left: 15px;
}
.b1 {
  position: absolute;
  margin-top: 60px;
  margin-left: 125px;
}
.tiket2 {
  position: absolute;
  width: 100px;
  margin-top: 5px;
  margin-left: 7px;
}
.point2 {
  position: absolute;
  width: 180px;
  top: 38px;
  margin-left: 8px;
}

.arrow2 {
  position: absolute;
  width: 50px;
  margin-top: 40.5px;
  margin-left: 207.3px;
  text-align: center;
  color: #ffffff;
  border: 5px solid #219653;
  background: #219653;
  border-radius: 7px 0px 10px 0px;
}
.tiket3 {
  position: absolute;
  width: 100px;
  margin-top: 63px;
  margin-left: 7px;
}

.point3 {
  position: absolute;
  width: 180px;
  top: -20px;
  margin-left: 8px;
}

.arrow3 {
  position: absolute;
  width: 50px;
  margin-top: -19.5px;
  margin-left: 207.3px;
  text-align: center;
  color: #ffffff;
  border: 5px solid #219653;
  background: #219653;
  border-radius: 7px 0px 10px 0px;
}
/* Akhir Box 2*/

/* Awal Title 3 */
.tile3 {
  position: absolute;
  margin-left: 140px;
  margin-top: 600px;
  border-color: #219653;
}
.titles3 {
  position: absolute;
  margin-left: 140px;
  margin-top: 1700px;
  color: black;
  font-style: normal;
}
.allevent3 p a {
  position: absolute;
  margin-top: 1720px;
  margin-left: 1320px;
  text-align: center;
  float: right;
  color: #219653;
}
/* Akhir Title 3 */

/* Awal Box 2 */
.box9 {
  position: absolute;
  width: 274px;
  height: 415px;
  margin-left: 140px;
  margin-top: 1800px;
  background-color: #ffffff;
  font-style: normal;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}
.box10 {
  position: absolute;
  width: 274px;
  height: 415px;
  margin-left: 470px;
  margin-top: 1800px;
  background-color: #ffffff;
  font-style: normal;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}
.box11 {
  position: absolute;
  width: 274px;
  height: 415px;
  margin-left: 790px;
  margin-top: 1800px;
  background-color: #ffffff;
  font-style: normal;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}
.box12 {
  position: absolute;
  width: 274px;
  height: 415px;
  margin-left: 1120px;
  margin-top: 1800px;
  background-color: #ffffff;
  font-style: normal;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}

.online3 p {
  position: absolute;
  text-align: center;
  color: #ffffff;
  width: 92px;
  height: 30px;
  border: 5px solid #219653;
  background: #219653;
  border-radius: 7px 0px 10px 0px;
}

.ribbon p {
  position: absolute;
  width: 210px;
  height: 30px;
  justify-content: center;
  display: flex;
  float: center;
  top: 15px;
  left: 140px;
  align-items: center;
  background: #2f80ed;
  border-radius: 1px;
  transform: rotate(45deg);
  clip-path: polygon(50% -100%, 100% -20%, 100% calc(100% - 80px), calc(100% - 76.5px) -0.9%, 78% 100%, 11.9% calc(50px)); /* set clip-path */
}

.kerangka {
  position: absolute;
  margin-top: 200px;
  margin-left: 15px;
}

.bdbd {
  position: inherit;
  color: #bdbdbd;
}

.harga {
  margin-top: 280px;
  margin-left: 15px;
}

.img9,
.img10,
.img11,
.img12 {
  position: absolute;
  width: 275px;
  height: 180px;
  background-image: url(image/orang.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.bintang {
  position: absolute;
  margin-top: 20px;
  margin-left: 15px;
}
.b5 {
  position: absolute;
  margin-top: 22px;
  margin-left: 125px;
}
.bintang1 {
  position: absolute;
  margin-top: 56.5px;
  margin-left: 15px;
}
.b1 {
  position: absolute;
  margin-top: 59.5px;
  margin-left: 125px;
}
.tiket2 {
  position: absolute;
  width: 100px;
  margin-top: 5px;
  margin-left: 7px;
}
.point2 {
  position: absolute;
  width: 180px;
  top: 38px;
  margin-left: 8px;
}

.arrow2 {
  position: absolute;
  width: 50px;
  margin-top: 40px;
  margin-left: 207.3px;
  text-align: center;
  color: #ffffff;
  border: 5px solid #219653;
  background: #219653;
  border-radius: 7px 0px 10px 0px;
}

.bintang21 {
  position: absolute;
  margin-top: 59.5px;
  margin-left: 15px;
}
.b21 {
  position: absolute;
  margin-top: 60px;
  margin-left: 125px;
}
.tiket21 {
  position: absolute;
  width: 100px;
  margin-top: 45px;
  margin-left: 7px;
}
.point21 {
  position: absolute;
  width: 180px;
  top: 38px;
  margin-left: 8px;
}

.arrow21 {
  position: absolute;
  width: 50px;
  margin-top: 38px;
  margin-left: 207.3px;
  text-align: center;
  color: #ffffff;
  border: 5px solid #219653;
  background: #219653;
  border-radius: 7px 0px 10px 0px;
}
.tiket3 {
  position: absolute;
  width: 100px;
  margin-top: 101px;
  margin-left: 7px;
}
.point3 {
  position: absolute;
  width: 180px;
  top: -20px;
  margin-left: 8px;
}

.tiket10 {
  position: absolute;
  width: 100px;
  margin-top: 5px;
  margin-left: 7px;
}
.point10 {
  position: absolute;
  width: 180px;
  top: 38px;
  margin-left: 8px;
}

.arrow10 {
  position: absolute;
  width: 50px;
  margin-top: 38px;
  margin-left: 207.3px;
  text-align: center;
  color: #ffffff;
  border: 5px solid #219653;
  background: #219653;
  border-radius: 7px 0px 10px 0px;
}

.bintang10 {
  position: absolute;
  margin-top: 20px;
  margin-left: 15px;
}
.b10 {
  position: absolute;
  margin-top: 22px;
  margin-left: 125px;
}

/* Akhir Box 2*/

/* Awal Footer */
.footer {
  position: absolute;
  width: 100%;
  height: 250px;
  margin-top: 2350px;
  background-color: #219653;
  text-align: center;
}
.top {
  position: absolute;
  width: 100%;
  height: 200px;
  margin-top: 2400px;
  text-align: center;
}
.buttom {
  position: absolute;
  width: 100%;
  height: 50px;
  margin-top: 2600px;
  background-color: #1e894c;
  text-align: center;
}
.buttom2 {
  position: absolute;
  width: 100%;
  top: 15px;
  text-align: center;
  color: #ffffff;
}
.top2 {
  position: absolute;
  width: 100%;
  top: 60px;
}

.imgfooter {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 100px;
}
/* Akhir Footer */
