* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  text-decoration: none;
}

body {
  background-color: #219653;
}

.container {
  position: absolute;
  margin-top: 225px;
  margin-left: 567px;
  width: 400px;
  height: 260px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.login-box {
  position: absolute;
  text-align: left;
  margin-top: 30px;
  margin-left: 20px;
}

.logo {
  position: absolute;
  width: 250px;
  height: 70px;
  margin-left: 55px;
  margin-top: -120px;
  align-items: center;
  cursor: pointer;
}

.textbox input {
  position: absolute;
  padding: 8px;
  width: 350px;
  font-size: 16px;
  margin-left: -3.8px;
  font-weight: 600;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}
.textbox img {
  position: absolute;
  margin-top: 8px;
  margin-left: 320px;
  cursor: pointer;
}

.textbox2 {
  position: absolute;
  margin-top: 50px;
}
.forgot {
  position: absolute;
  width: 300px;
  line-height: 25px;
  margin-top: 160px;
}

.sign button {
  position: absolute;
  margin-left: -4px;
  margin-top: 105px;
  padding: 10px;
  width: 365px;
  font-weight: 600;
  font-size: 18px;
  border: 1px solid #219653;
  border-radius: 5px;
  background-color: #219653;
  color: #ffffff;
  cursor: pointer;
}

button:active {
  background-color: #219653;
  box-shadow: 0 5px #bdbdbd;
  transform: translateY(2px);
}

button:hover {
  background-color: #1e894c;
  color: #bdbdbd;
  transform: translateY(2px);
}

.forgot a:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px #219653;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
}

.forgot a:active {
  box-shadow: 0 3px #219653;
  border: 1px solid #bdbdbd;
  background: #ffffff;
  border-radius: 4px;
  transform: translateY(4px);
}
